<div class="container app-font">
	<%= render "partials/alert" %>

	<%= form_for @daily_log, url: daily_log_index_path, remote: true do |f| %>
   	<%= render partial: 'daily_log_data', locals: { f: f } %>
	<% end %>
</div>

