<div class="jumbotron">
  <h1 class="display-4"><%= @user[:first_name] %> <%= @user[:last_name] %> has requested more information.</h1>
  <p class="lead">
  	Please reach out them at <%= @user[:email] %>
  </p>
</div>
