<div class="jumbotron">
  <h1 class="display-4"><%= @user.first_name.capitalize %>, welcome to the Boomslang team!</h1>
  <p class="lead">We are so excited to start this journey with you and help you along the way. Login and let's get rolling.</p>
  <%= link_to "Get Started", profile_index_url, class: "btn btn-primary btn-lg" %>
</div>
