<h2 style="text-align:center;">Welcome to Boomslang Fitness!</h2>

<p>We are so glad you decided to take your fitness journey with us. Here at Boomslang Fitness we live by 3 key ethos when it comes to the longevity of your lifestyle changes.</p>

<ul>
  <li>Mindset</li>
  <br/>
  <li>Nutrition</li>
  <br/>
  <li>Fitness</li>
</ul>

<p>This trifecta is strongest when all three are being a focal point of your life and decision making every day. This of course is easier said than done, and we understand that. Every day will be a struggle to keep all three of these intact, but if you make mindful awareness of these every day, your journey will be easier. Check out this video to help you understand how each one of these plays into the next and how all three working together can help you meet your goals!</p>

<p>
	Watch this video on tips to stay on track and live out these ethos to meet your goals. <%= link_to "Stay On Track", "https://www.youtube.com/watch?v=1vrYeXOGFPE", class: "btn btn-primary btn-lg" %>
</p>


<p><%= link_to "Get Started", profile_index_url, class: "btn btn-primary btn-lg" %></p>
