<div class="card" style="padding-top:20px;padding-bottom:20px;">
    <div class="card-header boomslang-green text-center">
      <div style="color:white;"><%= title %></div>
    </div>
    <div class="card-body bg-white" style="margin-bottom:0px">
      <%= body %>
    </div>
  </div>
</div>