<table class="table table-hover">
	<thead>
		<tr>
			<td>Subject</td>
			<td>Date</td>
		</tr>
	</thead>

	<tbody>
		<% @message_groups.each do |message_group| %>
			<% message_group.each do |message| %>
				<tr>
					<td><%= link_to message.subject, message_group_path(message.id) %></td>
					<td><%= message.created_at.in_time_zone.strftime("%m/%d/%y %H:%M") %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<div style="margin-left:15px;">
	<%= link_to "New Message", new_message_path, class: 'btn btn-info' %>
</div>
