<% if @exercise_group.blank? %>
	<div class="jumbotron" style="background: #101216">
		<h1 class="display-4">There are no Workouts for you!</h1>
		<p class="lead">Awesome job today. You have completed all the exercises for todays workout. Rest and let your body do what it was made to do....evolve!</p>
		<p><%= link_to "View Proifle Home", profile_index_path %>
<% else %>
	<%= render 'partials/exercise_form' %>
<% end %>
