<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Get started today with a healthier you!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
				<%= form_for :user, url: new_user_registration_path, method: :get do |f| %>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
            	<%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Enter your email..." %>
            </div>
            <div class="col-12 col-md-3">
            	<%= f.submit "Sign up!", class: "btn btn-block btn-lg btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
