<style>	
	#blog {
	  margin-top: -10px;
	  margin-left: -10px;
	  margin-right: -10px;
	}
</style>

<div id="blog">
	<iframe src ="https://boomslangfitness.blogspot.com/" width="100%" height="1000"> </iframe>
</div>
