<div class="jumbotron">
  <h1 class="display-4"><%= @sender[:first_name] %> <%= @sender[:last_name] %> has send you a new message.</h1>
  <p class="lead">
  	Click here to see what they had to say and respond back. <%= link_to "View Message", "www.boomslangfitness.com/message_group/#{@message_group_id}" %>
  </p>
</div>
