/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

nav {
	background: #101216;
	color: white;
}

.header-background {
	background: #003259;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: #101216;
}

a {
	color: rgba(255, 255, 255, 0.5);
}

body {
	background-color: #98AF22;
	color: white;
}

.row {
	margin-bottom: 10px;
}

.detail-font-size {
	font-size: 0.8em;
	text-align:center;
}

.card-body {
  background-color: #262626;
  color: white;
  margin-bottom: 15px;
}

.custom-input {
	background-color: #D6E5C5;
}

.workout-btn {
	background-color: #BFF075;
	color: black;
}

.workout-text {
	color: #BFF075;
}

.login-header {
  margin-top: -20px;
  height: 100px;
}

#footer {
	height:50px;
	margin-top: 75px;
	background: #003259;
	color: white;
}

#step-header {
	padding-top: 20px;
}

.card {
	background-color: transparent;
}

#image-background {
	background-image: url('road-background');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.btn-standard {
	background-color:#D9D278;
}

.workout-header {
	background: #88BFB0;
	color: #262626;
}

.log-it-btn {
	border: solid 1px #8C8C8C;
	color: #262626;
}

#profile-background {
	background-color: #003259;
	height:250px;
	margin-top:40px;
}

.rounded-image {
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	height:100px;
	width:100px;
}
