/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

nav {
	background: #101216;
	color: white;
}

.header-background {
	background: #003259;
}

.workout-background {
	background: #71B11D;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: #101216;
}

a {
	color: #82B937;
}

body {
	background: #fafafa;
}

.row {
	margin-bottom: 10px;
}

.detail-font-size {
	font-size: 0.8em;
	text-align:center;
}

.card-body {
  margin-bottom: 15px;
}

.custom-input {
	background-color: #fafafa;
}

.workout-btn {
	background-color: #71B11D;
	color: #003259;
}

.workout-text {
	color: #BFF075;
}

.login-header {
  margin-top: -20px;
  height: 100px;
}

#footer {
	height:50px;
	margin-top: 75px;
	background: #003259;
	color: white;
}

#step-header {
	padding-top: 20px;
}

.card {
	background-color: transparent;
	border: 0;
}

.image-background {
	background-image: url('road-background');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.btn-standard {
	background-color:#D9D278;
}

.workout-header {
	background-color: #003259;
	color: #white;
}

.log-it-btn {
	border: solid 1px #8C8C8C;
	color: #262626;
}

#profile-background {
	background-color: #003259;
	height:330px;
	/*
	margin-top:40px;
	*/
}

.default-background {
	background-color: #003259;
}

#login-profile-background {
	background-color: #003259;
  height: 420px;
  margin-top: 60px;
  color: white;
}

#signup-background {
	background-color: #003259;
  height: 420px;
  margin-top: 60px;
  color: white;
}

.rounded-image {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	height:100px;
	width:100px;
}

.message-rounded-image { 
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	height:50px;
	width:50px;
}

#metric_time_frame {
	padding-top: 50px;
}

#profile-layout {
  background-color: #003259;
  padding-bottom: 15px;
  padding-top: 15px;
}

.arrow-down {
  width: 14px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #003259;
}

.top-arrow {
  width: 14px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid white;
}

.speech-bubble-left {
	position: relative;
	background: #71B11D;
	border-radius: .4em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-right-color: #71B11D;
	border-left: 0;
	border-bottom: 0;
	margin-top: -14px;
	margin-left: -28px;
}

.speech-bubble-right {
	position: relative;
	background: #D9D278;
	border-radius: .4em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-left-color: #D9D278;
	border-right: 0;
	border-bottom: 0;
	margin-top: -14px;
	margin-right: -28px;
}

.home-page-header {
  height: 75px;
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.carousel-details {
	margin-left: 20px;
	margin-right: 20px;
}

.half-screen {
	padding-top:81px;
	width: 50%;
	position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
